<html>
  <head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css">
  <script src="js/scripts.js"></script>

  <title>Converter</title>
  </head>
  <body>
    <div class="container">
      <h1>Enter the number you want converted to decimal: </h1>

      <form id="num_converter">
        <div class="form-group">
          <label for="num_converter">Enter the number:</label>
          <input class="form-control" type="text" id="num_string">
          <label for="num_converter">Enter the base</label>
          <select id="base">
            <option value="2">Binary</option>
            <option value="3">Ternary</option>
            <option value="4">Quaternary</option>
            <option value="5">Quinary</option>
            <option value="6">Senary</option>
            <option value="8">Octal</option>
            <option value="16">Hexadecimal</option>
          </select>
        </div>
        <button type="submit" class="btn">Submit</button>
        <input type="reset" class="btn" value="Reset" onClick="window.location.reload()">
      </form>
      <div id="result">
        <p>Here is the decimal:<br></br><span class="decimal"></span></p>
      </div>
      <a href="/" class="btn">HOME</a>
    </div>
  </body>
</html>
