<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="/js/scripts.js"></script>		
		<title>The Converter</title>
	</head>
	<body>
		<div class="container">
			<h1>Welcome to The Converter</h1>
			<h3>The most trusted source for all your conversion needs</h3>		
			<div class="form-group">
				<a href="/find_and_replace" class="btn-warning">Word Replayssr -- As featured in the Epicodus code review!!!</a><br></br>
				<a href="/bases" class="btn-danger">Hexadecimal (and other bases) to Decimal Converter</a><br></br>
				<a href="/piggify" class = "btn-danger">Convert a word or phrase to Pig-Latin!</a><br></br>
				<a href="/romanizer" class="btn-warning">Decimal to Roman Numeral</a><br></br>
			</div>
		</div>
	</body>
</html>