<html>
	<head>
		<link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<script src="js/scripts.js"></script>		
		<title>The Converter</title>
	</head>
	<body>
		<div class="container">
			<h1>Welcome to The Converter</h1>
			<h3>The most trusted source for all your conversion needs</h3>		
			<div class="form-group">
				<form action="/topic/{{ topic.getId }}">
					<a href="/find_and_replace.twig.html" class="btn-primary">Word Replayssr</a>
				</form>		
			</div>
		</div>
	</body>
</html>